@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
    /* background-color: blueviolet; */
    background-image: url(./asset/images/indexbg.jpg);
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

#images {
    width: 40%;
    height: 100vh;
    /* background-color: yellow; */
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

/* img{
    width:80%;
    height:80%;
    position: absolute;
    top:6vw;
    animation: image infinite 1.5s alternate ease-in-out;
}
@keyframes image{
    0% { opacity: 0; }
    50% { opacity: 0.5;}
    100% { opacity: 1; } 
} */
#formContainer {
    width: 60vw;
    height: 100vh;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 25vw;
    height: 20vw;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 0.1vw solid white;
    box-shadow: 0px 0px 10px white;
    backdrop-filter: blur(3px);
    cursor: pointer;
    transition: all 0.5s;
}

form:hover {
    /* animation: formAni ease-in 0.7s 1; */
    transform: scale(1.1, 1.1);
}

/* @keyframes formAni{
    from{
        transform: scale(1,1);
    }
    to{
        transform: scale(1.5,1.5);
    }
} */
#input,
input {
    width: 20vw;
    height: 2vw;
    font-size: 1.2vw;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
}

#pass {
    width: 18vw;
    border: none;
}

i {
    font-size: 1.5vw;
    color: white;
}

#input {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 2.5vw;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1vw;
    color: white;
}

label,
a {
    font-size: 1.3vw;
    color: white;
}

a {
    color: blue;
}

#button {
    width: 8vw;
    border: 1px solid black;
    outline: auto;
    border: none;
    outline: none;
    border-bottom: none;
    letter-spacing: 0.1vw;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: all 0.3s;
}

#button:hover {
    background-color: green;
    color: white;
}

nav {
    width: 100vw;
    height: 4vw;
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    color: white;
    letter-spacing: 0.1vw;
    border-bottom: 0.02vw solid white;
    text-shadow: 2px 2px 3px black;
    /* animation:welcomeAni 5s ease-in-out alternate infinite ; */
}

/* @keyframes welcomeAni {
    0%{
        color:greenyellow;
    }
    50%{
        color:yellow
    }
    100%{
        color:greenyellow;
    }
} */
input::placeholder {
    color: rgba(245, 245, 245, 0.797);
}